@font-face { font-family: 'Open Sans'; src: url('fonts/main.woff'); }
input, span, li { all: unset; }

body {
   background-color: rgb(56, 56, 56);
   background-image: url('img/bg.png');
	font: 13px 'Open Sans', verdana;
   color: #505050;
   padding: 0px;
   padding-top: 100px;
   margin: 0px;
}

a:link, a:visited, a:hover {
	color: #0073A9;
   transition: .3s;
   cursor: pointer;
   text-decoration: none;
}

a:hover { color: rgb(175, 30, 30); }

/* --- SPLIT TABLE --- */

.split {
   display: table;
   width: 100%
}

.split > div {
   display: table-cell;
   width: auto;
   text-align: left;
   vertical-align: top;
}

.split div:nth-child(2) { text-align: right; }

/* --- WRAPPER --- */

#wrapper {
   height: 100%;
   width: 500px;
   margin: auto;
}

#settings {
   padding-bottom: 5px;
   text-align: right;
}

#regions, #capita, #highlow {
   display: inline-block;
   cursor: pointer;
}

.active, .inactive {
   background: rgba(48, 214, 48, 0.233);
   border-bottom: 2px solid rgba(48, 214, 48, 0.13);
   padding: 5px 7px;
   margin-left: 5px;
   display: inline-block;
   color: rgba(206, 206, 206, 0.658);
   color: rgb(216, 216, 216);
}

.inactive {
   background: rgba(0, 0, 0, 0.26);
   border-bottom: 2px solid rgba(0, 0, 0, 0.164);
   color: rgba(255, 255, 255, 0.692);
}

input {
   background: rgba(59, 130, 197, 0.363);
   background-image: url('../interface/img/search.png');
   background-repeat: no-repeat;
   background-position: right center;
   border-bottom: 2px solid rgba(66, 136, 201, 0.233);
   padding: 5px 7px;
   color: #CECECE;
   width: 100%;
   color: #e9e9e9;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   cursor: pointer;
}

input::placeholder {
   color: rgb(216, 216, 216);
}

#primary-options {
   display: none;
   background: rgba(0, 0, 0, 0.336);
   border: 2px solid rgba(0, 0, 0, 0.164);
   border-right: 0px;
   overflow: auto;
   height: 224px;
}

#primary-options::-webkit-scrollbar { width: 7px; }
#primary-options::-webkit-scrollbar-track { background: #00000038; }
#primary-options::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.404); }

#option {
   padding: 5px 7px;
   color: rgba(206, 206, 206, 0.74);
}

#option:nth-child(even) { background: rgba(0, 0, 0, 0.082); }

#option:hover {
   background: rgba(57, 206, 57, 0.158);
   color: white;
   cursor: pointer;
}