@font-face { font-family: 'Open Sans'; src: url('fonts/main.woff'); }
input, span, li { all: unset; }

body {
   background-color: rgb(56, 56, 56);
   background-image: url('img/bg.png');
	font: 13px 'Open Sans', verdana;
   color: #505050;
   padding: 0px;
   margin: 0px;
}

a:link, a:visited, a:hover {
	color: #0073A9;
   transition: .3s;
   cursor: pointer;
   text-decoration: none;
}

a:hover { color: rgb(175, 30, 30); }

/* --- SPLIT TABLE --- */

.split {
   display: table;
   width: 100%
}

.split > div {
   display: table-cell;
   width: auto;
   text-align: left;
   vertical-align: top;
}

.split div:nth-child(2) { text-align: right; }

/* --- WRAPPER --- */

#wrapper {
   display: table;
   height: 100%;
   width: 100%;
}

#menu, #innerbody {
   display: table-cell;
   vertical-align: top;
   width: auto;
}

#menu {
   background: rgba(0, 0, 0, 0.226);
   width: 250px;
}

#menu #options { overflow: auto; }
#menu #options::-webkit-scrollbar { width: 7px; }
#menu #options::-webkit-scrollbar-track { background: #00000038; }
#menu #options::-webkit-scrollbar-thumb { background: rgba(253, 253, 253, 0.404); }

#menu #options #inner { padding: 6px; }

#menu #option {
   background: rgba(255, 255, 255, 0.062);
   border-bottom: 1px solid rgba(255, 255, 255, 0.062);
   padding: 5px;
   padding-left: 7px;
   color: rgb(168, 168, 168);
   margin-bottom: 2px;
}

#menu #option:last-child {
   margin: 0px;
}

#menu #option:hover {
   background: rgba(80, 255, 80, 0.158);
   border-bottom: 1px solid rgba(80, 255, 80, 0.158);
   cursor: pointer;
   color: white;
}

#innerbody {
   padding: 5px;
}

#chart-tbl {
   display: table;
   height: 100%;
   width: 100%;
}

#header, #content { display: table-row; }
#header { height: 1px; }

#header #inner {
   background: rgba(0, 0, 0, 0.322);
   padding: 7px;
   padding-left: 9px;
   color: #CECECE;
}

#target {
   color: rgba(102, 218, 102, 0.856);
}

#content #inner {
   background: rgba(0, 0, 0, 0.192);
   border: 2px solid rgba(0, 0, 0, 0.103);
   border-top: 0px;
   height: 100%;
}

#chart, svg {
   height: 100%;
   width: 100%;
}